@import "tailwindcss";

@theme {
  --color-border: #e2e8f0;
  --color-background: #ffffff;
  --color-foreground: #020617;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
